@import 'flag-icons/css/flag-icons.min.css';

$primary: #696cff;
$secondary: #8492a2;
$success: #70dc38;
$danger: #ff3e1d;
$warning: #ffab00;
$info: #02c3eb;
$dark: #2a2b41;
$dark-secondary: #232333;
$light: #ffffff;
$light-secondary: #f4f4f8;

@import 'bootstrap/scss/bootstrap';




