$text-color: $light-secondary
html[data-bs-theme="dark"]
    body
        background: $dark-secondary
        color: $text-color

    .brand-filigran
        opacity: 0.1
        position: fixed
        width: 100%
        height: 100%
        z-index: -1
        img
            width: 100%
            height: 100%
            object-fit: cover

    .modal-header
        background: $dark
        color: $text-color
    .modal-body
        background: $dark
        color: $text-color
    .modal-footer
        background: $dark
        color: $text-color

.ck.ck-powered-by
    display: none

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred
    background: transparent
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused
    background: transparent

[data-bs-theme="dark"]
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="file"],
    select,
    textarea
        background: rgb($dark, 0.5)
        &:focus
            background: $dark-secondary
            outline: none
            box-shadow: none

    .btn-primary,
    .btn-secondary,
    .btn-success,
    .btn-danger,
    .btn-warning,
    .btn-info,
    .btn-dark
        color: $text-color
        &:hover
            color: $text-color
        &:active
            color: $text-color
        &:focus
            color: $text-color
        
    .btn-outline-primary
        &:hover
            color: $text-color
        &:active
            color: $text-color
    .btn-outline-secondary
        &:hover
            color: $text-color
        &:active
            color: $text-color
    .btn-outline-success
        &:hover
            color: $text-color
        &:active
            color: $text-color
    .btn-outline-danger
        &:hover
            color: $text-color
        &:active
            color: $text-color
    .btn-outline-warning
        &:hover
            color: $text-color
        &:active
            color: $text-color
    .btn-outline-info
        &:hover
            color: $text-color
        &:active
            color: $text-color
    .btn-outline-dark
        &:hover
            color: $text-color
        &:active
            color: $text-color
        
    .btn-light
        color: $text-color
        &:hover
            color: $text-color
        &:active
            color: $text-color
        &:focus
            color: $text-color

    input[type="radio"]:checked + label.btn-outline-primary
        color: $text-color

    input[type="radio"] + label.btn-outline-primary
        color: $primary
    .card
        backdrop-filter: blur(5px)
        background: rgb($dark, 0.5)

    .btn-check-label-custom
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column